* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* This makes sure that the padding and border are included in the total width and height of the elements. */
}

/* clearfix */
*:before,
*:after {
    /* content: ""; */
    display: table;
    clear: both;
}

body {
    color: #fff !important;
    background-color: #000 !important;
}

#site-logo {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 11px 6px;
}

.topmenu {
    display: none;
}

.sidemenu {
    height: 100%;
    position: fixed !important;
    width: 120px;
    background-color: #151515;
    text-align: center !important;
}

.menubar-item {
    background-color: #2e2e2e;
    border-bottom: 1px solid black;
    font-size: 12px;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
}

.menubar-item-selected {
    background-color: #ccc;
    color: #151515;

}

.menubar-item:hover {
    transition: background-color 1.7s;
    /* transition: color 1.7s; */
    background-color: #ccc !important;
    color: #690000;
}

.menubar-item:active {
    transition: none;
    color: #ccc;
    background-color: #690000 !important;
}

.menubar-item>i {
    font-size: 36px;
}

main {
    padding: 12px 24px !important;
    margin-left: 120px;
}

.heading {
    padding-top: 22px !important;
    text-align: center !important;
    color: #fff !important;
    background-color: #000 !important;
}

.heading>span {
    font-size: 64px !important;
    border-bottom: 4px solid #690000;
    padding-bottom: 11px;
}

.heading>p {
    font-size: 24px !important;
    padding: 22px 0;
}

.section-title {
    padding-top: 64px !important;
    font-weight: 500;
    font-size: 44px;
}

section.skills {
    color: #ccc;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px
}

section.skills i {
    font-size: 31px;
    line-height: 0px;
    color: #690000;
    margin-right: 8px
}

section.skills span {
    font-size: 24px;
}

.galley-grid {
    margin: 44px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(62px, 1fr));
    gap: 2rem 8rem;
}

.card {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    object-fit: cover;
}


.card>img {
    width: 100%;
}

.card>p {
    color: #f1f1f1;
    text-align: center;
    padding: 11px 0 0 0;
}

.download-resume-btn {
    padding: 15px 22px 6px;
}

.download-resume-btn>span {
    font-size: 17px !important;
    margin-left: 6px;
    font-weight: 600;
}



@media (max-width:600px) {
    .sidemenu {
        display: none !important
    }

    .topmenu {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;

        top: 0;
        z-index: 100;
    }


    .menubar-item {
        border-radius: 4px;
        text-align: center;
        padding: 4px 8px;
        font-size: 15px;
        font-weight: 700;
        width: auto;
    }

    main {
        margin-left: 0;
    }

    .heading>span {
        font-size: 35px;
    }

    .heading>p {
        font-size: 17px;
    }

    .section-title {
        font-size: 26px;
    }

    section.skills {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    section.skills span {
        font-size: 17px
    }

    .galley-grid {
        gap: 2rem 4rem;
    }

    .card>p {
        font-size: 14px !important;
        padding: 4px 0 0 0;
    }
}