* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* This makes sure that the padding and border are included in the total width and height of the elements. */
}

/* clearfix */
*:before,
*:after {
    /* content: ""; */
    display: table;
    clear: both;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden
}

body {
    color: #fff !important;
    background-color: #000 !important;
}

a {
    color: inherit
}

hr {
    color: #690000;
    border-top: 3px solid #690000;
    width: 26%;
    margin: 8px 0 20px;
}

#site-logo {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 11px 6px;
}

.topmenu {
    display: none;
}

.sidemenu {
    height: 100%;
    position: fixed !important;
    width: 120px;
    background-color: #151515;
    text-align: center !important;
}

.menubar-item {
    background-color: #2e2e2e;
    border-bottom: 1px solid black;
    font-size: 14px;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
}

.menubar-item-selected {
    background-color: #ccc;
    color: #151515;
}

.menubar-item:hover {
    transition: background-color 1.3s, color 1.3s;
    /* transition: color 1.3s; */
    background-color: #ccc !important;
    color: #690000;
}

.menubar-item:active {
    transition: none;
    color: #ccc;
    background-color: #690000 !important;
}

.menubar-item>i {
    font-size: 40px;
}

main {
    padding: 12px 24px !important;
    margin-left: 120px;
}

.heading {
    padding-top: 22px !important;
    text-align: center !important;
    color: #fff !important;
    background-color: #000 !important;
}

.heading>span {
    font-size: 64px;
    border-bottom: 6px solid #690000;
    padding-bottom: 11px;
}

.heading>p {
    font-size: 24px;
    padding: 22px 0;
}

#profile-image {
    width: 992;
    height: 1108;
    max-width: 100%;
    height: auto
}

section {
    color: #ccc;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    max-width: 980px
}

section>h2 {
    font-weight: 500;
    font-size: 44px;
}


section#about i {
    font-size: 31px;
    line-height: 0px;
    margin-right: 8px
}

/* there must be a more intelligent way to ensure download icon changes color upon hover? */
section#about .bulletpoint {
    color: #690000;
}

section#about span {
    font-size: 24px;
}

.galley-grid {
    margin: 35px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 2rem 6rem;
}

.card {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card>img {
    width: 100%;
}

.card>p {
    color: #f1f1f1;
    text-align: center;
    padding: 11px 0 0 0;
}

.download-resume-btn {
    color: #690000;
    padding: 15px 22px 6px;
    float: right;
    border-radius: 4px;
    border-style: none;
}

.download-resume-btn:hover {
    transition: background-color 1.3s, color 1.3s;
    background-color: #690000;
    color: white !important;
}

.download-resume-btn>i {
    font-size: 26px !important;
}

.download-resume-btn>span {
    vertical-align: top;
    font-size: 17px !important;
    margin-left: 8px;
    font-weight: 600;
}

section#projects {
    margin-top: 88px;
}

section#contact div {
    color: #fff !important;
    margin: 35px 0;
    display: table;
}

section#contact a {
    text-decoration: none;
}

section#contact i {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 36px;
}

section#contact span {
    font-size: 22px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: relative;
    left: 30px
}

section#contact .contact-icon {
    font-size: 40px;
    padding: 11px 88px 88px 0;
}

section#contact .contact-icon:hover,
section#contact a>i:hover {
    transition: color 1.3s;
    color: #690000;
}

section>div#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


div.portfolio-card {
    width: 48%;
    margin: 22px 0;
}

div.portfolio-card>img {
    width: 100%;
}
div.portfolio-card>p {
    height: 150px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidemenu {
        display: none !important
    }

    .topmenu {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        top: 0;
        z-index: 100;
    }


    .menubar-item {
        border-radius: 4px;
        text-align: center;
        padding: 4px 8px;
        font-size: 15px;
        font-weight: 700;
        width: auto;
    }

    main {
        margin-left: 0;
    }

    hr {
        width: 50%;
    }

    .heading>span {
        font-size: 35px;
    }

    .heading>p {
        font-size: 17px;
    }

    section {
        padding-top: 31px;
    }

    section>h2 {
        font-size: 26px;
    }

    section#about span {
        font-size: 17px
    }

    .galley-grid {
        gap: 2rem 4rem;
    }

    .card>p {
        font-size: 14px !important;
        padding: 4px 0 0 0;
    }

    .download-resume-btn {
        padding: 13px 11px 0;
        float: left;
    }

    .download-resume-btn>span {
        font-size: 15px !important;
    }

    section#contact div {
        margin: 19px 0;
    }

    section#contact span {
        font-size: 15px;
    }

    section#contact .contact-icon {
        padding: 11px 62px 35px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .sidemenu {
        width: 80px;
    }

    #site-logo {
        border-bottom: none;
        padding: 11px 6px;
    }

    .menubar-item {
        background-color: #2e2e2e;
        border-bottom: 1px solid black;
        font-size: 12px;
        display: inline-block;
        padding: 6px 11px;
        color: #fff;
    }

    .heading {
        padding-top: 11px !important;
        color: #fff !important;
        background-color: #000 !important;
    }

    .heading>span {
        font-size: 35px;
        border-bottom: 4px solid #690000;
        padding-bottom: 6px;
    }

    .heading>p {
        font-size: 17px;
        padding: 11px 0;
    }

    section {
        padding-top: 26px;
    }

    section>h2 {
        font-weight: 500;
        font-size: 26px;
    }

    hr {
        border-top: 2px solid #690000;
        width: 33%;
        margin: 4px 0 17px;
    }


    section#about i {
        font-size: 22px;
        margin-right: 8px
    }


    section#about span {
        font-size: 17px;
    }

    .galley-grid {
        margin: 11px 0;
        grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
        gap: 2rem 4rem;
    }

    .card>p {
        font-size: 14px;
    }

    .download-resume-btn {
        padding: 8px 11px 1px;
    }

    section#contact div {
        margin: 11px 0;
    }

    section#contact i {
        font-size: 31px !important;
    }

    section#contact span {
        font-size: 15px;
        left: 17px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}